# file options

--swiftversion 5.9

# disabled rules

--disable andOperator
--disable redundantReturn
--disable wrapSingleLineComments

# enabled rules

--enable isEmpty

# format options

--decimalgrouping ignore # for now
--elseposition next-line
--extensionacl on-declarations
--indent tab
--maxwidth 100
--ranges no-space
--self insert
